/* Подключение шрифта Open Sans Regular */
@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}
/* Подключение шрифта Open Sans Semibold */
@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2');
}
/* Подключение шрифта Open Sans Bold */
@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

/* Подключение шрифта Open Sans Extrabold */
@font-face {
    font-family: 'Open Sans Extrabold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/OpenSans-Extrabold.woff2') format('woff2');
}
/* Подключение шрифта Bebas Nue Bold Regular */
@font-face {
    font-family: 'BebasNueBold Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BebasNeue-Bold.woff2') format('woff2');
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 12px;
    color: #48555B;
    line-height: 1.5;
}


.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 250px;
}
.story__title {
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
    text-align: center;
    padding-top: 57px;
    margin-bottom: 90px;
    text-transform: uppercase;
    position: relative;
}
.story__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.story__inner {
    display: flex;
    justify-content: space-between;
    gap: 76px;

}
.story__text {
    max-width: 405px;
}
.story__text-title {
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}
.story__text-title span {
    color: #00A4E5;
}
.story__text-subtitle {
    font-family:'Open Sans Regular', sans-serif;
    font-size: 13px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 120px;
}
.story__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
}
.story__cards-item-1 {
    background-image: url(../images/weplan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 224px;
    padding: 15px 14px;
}
.story__cards-item-2 {
    background-image: url(../images/wemanage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 224px;
    padding: 15px 14px;
}
.story__cards-item-3 {
    background-image: url(../images/webuild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 224px;
    padding: 15px 14px;
}
.story__card-text {
    font-family:'Open Sans Extrabold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
}


.services__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 78px;
}
.services__title {
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;letter-spacing: 2.31px;
    margin-right: 154px;
    position: relative;
}
.services__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    left: 13%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 10px;
}
.services__subtitle {
    font-family:'Open Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.7;
}
.services__button {
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding: 11px 29px;
    color: #fff;
    background-color: #00A4E5;
}
.service__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

}
.card__item {
    border: 1px solid #48555B;
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.43px;
}
.services__card-img {
    padding: 38px 0 25px 23px;
}
.card__title {
    font-family:'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.43px;
    padding: 0 23px;
}
.card__subritle {
    font-family:'Open Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.19px;
    padding: 13px 22px 39px 23px;
}
